.row.row-margin-bottom
    .col-sm-6.no-padding.lib-item(data-category='view')
        .lib-panel
            .row.box-shadow
                .col-md-6
                    img.lib-img-show(src='../images/book1.png')
                .col-md-6
                    .lib-row.lib-header
                    p Title : The Chronicles of Andela
                    .lib-header-seperator
                    .lib-row.lib-desc
                    p Category : Horror
                    p Author : J. J. Abrahams
                    p Quantity : 10
.row.row-margin-bottom
    .col-sm-6.no-padding.lib-item(data-category='view')
        .lib-panel
            .row.box-shadow
                .col-md-6
                    img.lib-img-show(src='../images/book2.jpg')
                .col-md-6
                    .lib-row.lib-header
                    p Title : The Chronicles of Andela
                    .lib-header-seperator
                    .lib-row.lib-desc
                    p Category : Horror
                    p Author : J. J. Abrahams
                    p Quantity : 10