*/node_modules/*
node_modules/*
node_modules/
server/config/*
package-lock.json
*/coverage/*
*/nyc_output/*
coverage
*/.nyc_output/*
.coveralls.yml
.env
.nyc_output
npm-debug.log
coverage/
client/dist
server/dist
.vscode
.DS_Store
reports
