{
    "parser": "babel-eslint",
    "rules": {
        "quotes": [
            1,
            "single"
        ],
        "linebreak-style": [
            1,
            "unix"
        ],
        "no-unused-vars": [2, {
            "vars": "all",
            "args": "after-used",
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_"
        }],
        "semi": [
            2,
            "always"
        ],
        "no-console": 0,
        "id-length": [2, {
            "min": 2,
            "exceptions": ["x", "v", "T"]
        }]
    },
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "browser": true,
        "jquery": true,
        "es6": true
    }

}