
hr.my-4
.container
  .row.vertical-center.align-items-center
    .thumbnail
        img(src='http://placehold.it/1000x750/EEE')
        .caption
          h4 Title
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit
          p Category
          p Loan Status
          p Name of Author
          p Quantity
          btn.btn.btn-primary.btn-xs(href='#', role='button') Loan
