include includes/admin_titles
include includes/partial_category_forms
        
            .col-md-4
                button.btn.btn-primary(type='submit')
                    i.fa.fa-user-plus
                    |  Create Category