include includes/admin_titles
include includes/search

//- .imageupload.panel.panel-default
//- .panel-heading.clearfix
//-     h3.panel-title.pull-left Upload Image
//-     .btn-group.pull-right
//-     button.btn.btn-default.active(type='button') File
//-     button.btn.btn-default(type='button') URL
//- .file-tab.panel-body
//-     label.btn.btn-default.btn-file
//-     span Browse
//-     // The file is stored here.
//-     input(type='file', name='image-file')
//-     button.btn.btn-default(type='button') Remove
//- .url-tab.panel-body
//-     .input-group
//-     input.form-control(type='text', placeholder='Image URL')
//-     .input-group-btn
//-         button.btn.btn-default(type='button') Submit
//-     button.btn.btn-default(type='button') Remove
//-     // The URL is stored here.
//-     input(type='hidden', name='image-url')
include includes/partial_admin_forms
.row
    .col-md-3
    .col-md-3
        img.img-responsive.img-thumbnail(src='http://websamplenow.com/30/userprofile/images/avatar.jpg')
        .form-group
            .fileinput
                a.btn.btn-primary(href='javascript:;')
                    | Choose File...
                    input(type='file', style='position:absolute;opacity:0;transparent;', name='file_source', size='40', onchange='$("#upload-file-info").html($(this).val());')
                span#upload-file-info.label.label-info
include includes/delete_update_dropdown
            
