.container
    .col-md-6.col-md-offset-3
        h4
          | Forgot your password?
        form#forgetpass(accept-charset='UTF-8', role='form', method='post',action='')
          fieldset
            span.help-block
              | Email address you use to log in to your account
              br
              |           We'll send you a new password with instructions to reset your password.
            .form-group.input-group
              span.input-group-addon
                | @
              input.form-control(placeholder='Email', name='email', type='email', required='')
            button#btn-forgetpass.btn.btn-primary.btn-block(type='submit')
              | Continue
            p.help-block