form(action='', method='post')
  .form-group
    label(for='username') Username
    input#username.form-control(type='username', placeholder='username')
  .form-group
    label(for='Password') Password
    input#InputPassword.form-control(type='password', placeholder='Password')
    br
    button.btn.btn-default(type='submit') Submit