form(action='', method='post')
  .form-group
    .col2
        label(for='username') Username
        input#username.form-control(type='username', placeholder='username')
  .form-group
    .col2
        label(for='Password') Password
        input#InputPassword.form-control(type='password', placeholder='Password')
        a(href='#') Forgot password?
    br
    br
    
    button.btn.btn-primary(type='submit') Submit
    include includes/social_sign_in