nav.navbar.sticky-top.navbar-dark.bg-inverse
  button.navbar-toggler.hidden-md-up.pull-xs-left(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container.pull-md-right
      
      .nav-items.clearfix
        a.nav-item.nav-link(href='register') Sign Up
        a.nav-item.nav-link(href='profile') My Profile
        a.nav-item.nav-link(href='about') Books
        

      a.btn.btn-info(href='login') Login
