form.form-horizontal(action='', method='POST')
  fieldset
    #legend
      legend Register
    .control-group
      label.control-label(for='username') Username
      .controls
        input#username.form-control.input(type='text', name='username', placeholder='')
        small#usernameHelp.form-text.text-muted Username can contain any letters or numbers, without spaces
    .control-group
      label.control-label(for='email') E-mail
      .controls
        input#email.form-control.input(type='email', name='email', placeholder='')
        small#usernameHelp.form-text.text-muted Please provide your E-mail
    .control-group
      label.control-label(for='password') Password
      .controls
        input#password.form-control.input(type='password', name='password', placeholder='')
        small#usernameHelp.form-text.text-muted Password should be at least 6 characters
    .control-group
      label.control-label(for='password_confirm') Password (Confirm)
      .controls
        input#password_confirm.form-control.input(type='password', name='password_confirm', placeholder='')
        small#usernameHelp.form-text.text-muted Please confirm password
    .control-group
      // Button
      .controls
        button.btn.btn-primary Register
        include includes/social_sign_in
