// Variables
$font-stack: 'Coiny', sans-serif;
$font-stack2: 'Purple Purse', sans-serif;


// body classes
header {
	top: 0;
	font-family: $font-stack;
}
nav ul a {
	font-size: 1.4rem;
}
body {
	font-family: $font-stack2;

}
#nav-change{
	background-color:#f2751c;
}




// User named classes
.root-wrapper {
	min-height: 100%;

}
.header-wrapper {
	width: 100%;
	height: 80vh;
	background-image: url('../img/bg.jpg');
	background-blend-mode: luminosity;
	background-color: #f2751c;

}


.body-wrapper {
	z-index: 3;
	box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px,
		rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
	position: relative;
	z-index: 3;
	background: rgb(255, 255, 255);
	margin: -60px 60px 0px;
	border-radius: 8px;
}

.header-text {
	font-family: $font-stack2;
	color: white;
	text-align: center;
	margin-top: 0.5em;
	margin-left: 4rem;
	margin-right: 4rem;
	border-radius: 4px;
	font-size: 4.5em;
	padding: 40px;
	background-color:rgba(0,0,0,0.42);
}

.overlay-main {
	margin-top: -25vh;
	padding: 50px;
	width: calc(100% - 20px);
	max-width: 1600px;
	background-color: white;

	clear: both;
}
.overlay {
	clear: both;
	overflow: hidden;
	background-color: white;
	color: black;
}

.footer-copyright {
	background-color: #f2751c !important;
}
footer {
	height: 3rem;
	/* Height of the footer */
	color: whitesmoke;
	font-family: $font-stack;
}




body {
	background-color: rgb(204, 204, 204);
}
