@import '../../../../node_modules/react-tabs/style/react-tabs.scss';

// Variables
$font-stack: 'Coiny', sans-serif;
$font-stack2: 'Purple Purse', sans-serif;
$base-orange: #f2751c;
$base-white: #ffffff;
$base-background: rgb(204, 204, 204);
$secondary-color: #0089ec;

// body classes
header {
	top: 0;
	font-family: $font-stack2;
	flex: 1 0 auto;
}

.side-nav {
	width: 250px;
}

nav ul a {
	font-size: 1rem;
	font-family: $font-stack;
}

.navbar-fixed {
	z-index: 10 !important;
}

.side-nav {
	z-index: 9 !important;
}

a {
	font-family: $font-stack2;
	color: #ec3a00;
}
.nav-wrapper {
	background-color: $base-orange;
}
body {
	font-family: $font-stack2;
	background-color: rgb(204, 204, 204);
	display: flex;
	// min-height: 100vh;
	flex-direction: column;
}

.notif__container {
	z-index: 9999;
}

p {
	font-family: $font-stack2;
}

form p {
	color: $secondary-color;
}

.internal-navbar ul li {
	padding: 10px;
	display: inline-flex;
}

.internal-navbar ul li a {
	color: black;
}
.internal-navbar ul li:hover {
	font-weight: bolder;
	text-decoration: underline;
}

// User named class elements
.root-wrapper {
	min-height: 100%;
	display: flex;
	min-height: 95vh;
	flex-direction: column;
}

.card {
	max-width: 77%;
}

.card img,
.card-image img {
	box-shadow: 0.75rem 0.75rem 1.5rem 0 rgba(0, 0, 0, .5);
}

/**
 * Modal 
 */
.book-modal {
	padding: 10px;
}

.modal-title {
	font-size: 1.8em;
}

.modal-image {
	padding-left: 15px;
}

.loan-book {
	padding-top: 10px;
}

.main-wrapper {
	background-color: $base-white;
	max-width: 100%;
	height: 100vh;
	padding-left: 300px;
}

.user-view {
	padding-top: 80px !important;
}

.header-wrapper {
	width: 100%;
	height: 80vh;
	background-image: url('../img/bg.jpg');
	background-blend-mode: luminosity;
	background-color: $base-orange;
}

.body-wrapper {
	box-shadow: rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px,
		rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
	position: relative;
	background: $base-white;
	margin: -60px 60px 0px;
	border-radius: 8px;
}

.header-text {
	font-family: $font-stack2;
	color: $base-white;
	text-align: center;
	margin-left: 4rem;
	margin-right: 4rem;
	border-radius: 4px;
	font-size: 4.5em;
	padding: 40px;
	background-color: rgba(0, 0, 0, 0.42);
}

.overlay-main {
	margin-top: -45vh;
	padding: 50px;
	width: calc(100% - 20px);
	max-width: 1600px;
	background-color: $base-white;
	clear: both;
}
.overlay {
	clear: both;
	overflow: hidden;
	background-color: $base-white;
	color: black;
}

.landing {
	padding-top: 25vh;
	margin: 0;
	width: 100%;
	height: auto;

	a {
		margin: 10px;
	}
}

/*
 *  Footer css
 */
.footer-copyright {
	background-color: $base-orange !important;
	min-height:60px !important;
}
footer {
	height: 3rem;
	color: whitesmoke;
	font-family: $font-stack;
}

#footer-link {
	font-family: $font-stack;
}

/**
 * Login Form
 */
.login {
	display: table;
	margin: 0 auto;
	margin-top: 20vh;
	height: 61vh;
}

.signup {
	@extend .login;
	margin-top: 6vh;
}

.login-header {
	background-color: $base-orange;
	color: $base-white;
	font-size: 1.5em;
	padding: 0.6em;
	font-family: $font-stack;
}

.signup-header {
	@extend .login-header;
}

.login-content {
	padding: 5px;
}

.signup-content {
	@extend.login-content;
}

.login-wrapper {
	background-color: $base-white;
	zoom: 1;
	max-width: 100%;
	width: 500px;
	padding-bottom: 5px;
}

.signup-wrapper {
	@extend .login-wrapper;
	max-width: 100%;
	width: 550px;
}

.notif__container {
	top: 100px !important;
	right: 0 !important;
	left: auto !important;
}

#sidenav-overlay {
	z-index: 2;
	color: $base-white;
}

.btn {
	background-color: black;
	font-family: $font-stack2;
	color: $base-white;
}

.btn:hover {
	background-color: #FFB581;
}

.loan-button {
	margin-right: 14px !important;
}
.btn-google {
	background-color: #dd4b39;
}

.booktip {
	position: relative;
	display: inline-block;
	color: #543a27 !important;
	max-width: 35%;
	background-color: #ffdec7 !important;
}

.loan-status,
.quantity {
	font-size: 1.5em;
}

.modal-header,
.modal-content h4 {
	background-color: $base-orange;
	color: $base-white;
}

.modal-header h4,
.modal-content h4 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.modal-content h4 {
	@extend .modal-header;
	padding-left: 25px;
}

.modal-innercontent {
	padding-left: 15px !important;
}
.modal-content {
	padding-top: 7px;
	padding-right: 0 !important;
	padding-left: 0 !important;
	padding-top: 0 !important;
}

.react-datepicker-wrapper {
	padding-left: 15px !important;
}

.react-tabs__tab-list {
	padding-top: 15px;
	font-family: $font-stack;
}

.react-tabs__tab--selected {
	background: $base-orange;
	color: $base-white;
}

.main-text {
	background-color: $base-white;
}

.pagination li a {
	font-family: $font-stack !important;
}
.pagination li.active {
	background-color: $base-orange !important;
	border-radius: 15px !important;
}

@media screen and (max-width: 541px) {
	.signup-wrapper {
		width: auto;
	}
}

@media only screen and (max-width: 992px) {
	header,
	.main-wrapper,
	footer {
		padding-left: 0;
	}

	.body-wrapper {
		margin: auto;
	}
}

@media only screen and (min-width: 1600px) {
	.overlay-main {
		max-width: 100%;
	}
}
